.first-page {
    background-color: #000;
    background-image:src("/homebackground.png");
    background-repeat: cover;

    color: #fff;
}

/* .first-page {
    background-color: #000;
    background-image: url("/homebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #fff;
} */

.resume-title
{
    color: blueviolet
}